<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Cristhian Franco">
    <title>Alexa Franco</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="/images/png" href="/images/logo_icono.png" />
</head>

<body>
<!--Header-->
<header>
    <div th:replace="fragments/header :: navbar">      
    </div>
</header>
<!--/Header-->

    <section>
        <div class="container">
            <div class="row pt-3 pb-3 pr-3 pl-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Crear un nuevo proyecto</h5>
                            <p class="card-text">Crear un proyecto, debe incluir un titulo, descripción y por lo menos
                                una foto</p>
                            <a href="#" class="btn btn-primary">Crear</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Modificar un Proyecto</h5>
                            <p class="card-text">Modificar los datos existentes de un proyecto, es recomendado mantener
                                una foto en el mismo</p>
                            <a href="#" class="btn btn-primary">Modificar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-3 pr-3 pl-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Borrar un proyecto</h5>
                            <p class="card-text">Elimina un proyecto de la base de datos, proceder con precaución</p>
                            <a href="#" class="btn btn-primary">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Bootstarp-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>